i{
	color:red !important;
}

i.iseFontIcons{
	margin-right:15px;
	margin-left:15px;
	font-family: 'ISEcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: red !important;
}

.btnSearch i {
	font-family: 'ISEcons', Arial, sans-serif;
	font-size: 17px;
	color: #666666;
	padding: 3px 0 0 0;
	font-style: normal;
	width: 100%;
}

[class^="icon-"], [class*=" icon-"] { height: 12px !important; }
.icon-refresh{
	height:15px !important;
	color:red !important;
	font-color:red !important;
}

.icon-triangle-down:before{content: "\21";}
.icon-chevron-up:before{content: "\22";}
.icon-double-arrow-up:before{content: "\23";}
.icon-equals:before{content: "\24";}
.icon-bags1:before{content: "\25";}
.icon-bags2:before{content: "\26";}
.icon-bags3:before{content: "\27";}
.icon-search2:before{content: "\28";}
.icon-package:before{content: "\29";}
.icon-plus:before{content: "\2a";}
.icon-minus:before{content: "\2b";}
.icon-double-arrow-right:before{content: "\2c";}
.icon-double-arrow-down:before{content: "\2d";}
.icon-external:before{content: "\2e";}
.icon-alert:before{content: "\2f";}
.icon-info:before{content: "\30";}
.icon-question:before{content: "\31";}
.icon-x:before{content: "\32";}
.icon-chevron-down2:before{content: "\33";}
.icon-arrow-right-reverse:before{content: "\34";}
.icon-arrow-stem-right:before{content: "\35";}
.icon-chevron-right2:before{content: "\36";}
.icon-date-reverse:before{content: "\37";}
.icon-date:before{content: "\38";}
.icon-compass:before{content: "\39";}
.icon-marker-reverse:before{content: "\3a";}
.icon-marker:before{content: "\3b";}
.icon-check:before{content: "\3c";}
.icon-gear:before{content: "\3d";}
.icon-landscape:before{content: "\3e";}
.icon-handicap:before{content: "\3f";}
.icon-wifi:before{content: "\40";}
.icon-phone:before{content: "\41";}
.icon-key:before{content: "\42";}
.icon-list:before{content: "\43";}
.icon-grid:before{content: "\44";}
.icon-details:before{content: "\45";}
.icon-print:before{content: "\46";}
.icon-email:before{content: "\47";}
.icon-peapod:before{content: "\48";}
.icon-peapods:before{content: "\49";}
.icon-walk:before{content: "\4a";}
.icon-bags4:before{content: "\4b";}
.icon-mobile:before{content: "\4c";}
.icon-seat:before{content: "\4d";}
.icon-eye:before{content: "\4e";}
.icon-graph:before{content: "\4f";}
.icon-ticket:before{content: "\50";}
.icon-shield:before{content: "\51";}
.icon-plane2-reverse:before{content: "\52";}
.icon-plane2:before{content: "\53";}
.icon-car-door:before{content: "\54";}
.icon-car-reverse:before{content: "\55";}
.icon-car:before{content: "\56";}
.icon-hotel-reverse:before{content: "\57";}
.icon-hotel:before{content: "\58";}
.icon-bags-reverse:before{content: "\59";}
.icon-bags5:before{content: "\5a";}
.icon-cruise-reverse:before{content: "\5b";}
.icon-cruise:before{content: "\5c";}
.icon-train-reverse:before{content: "\5d";}
.icon-train:before{content: "\5e";}
.icon-dollar-reverse:before{content: "\5f";}
.icon-dollar:before{content: "\60";}
.icon-time-reverse:before{content: "\61";}
.icon-back-in-time:before{content: "\62";}
.icon-time:before{content: "\63";}
.icon-moon:before{content: "\64";}
.icon-moon-reverse:before{content: "\65";}
.icon-arrow-stem-right-reverse:before{content: "\66";}
.icon-arrow-stem-right2:before{content: "\67";}
.icon-arrow-stem-left-right-reverse:before{content: "\68";}
.icon-arrow-stem-left-right:before{content: "\69";}
.icon-sunrise:before{content: "\6a";}
.icon-sunrise-reverse:before{content: "\6b";}
.icon-pause:before{content: "\6c";}
.icon-triangle-right:before{content: "\6d";}
.icon-half-star:before{content: "\6e";}
.icon-half-star-outline:before{content: "\6f";}
.icon-star:before{content: "\70";}
.icon-star-outline:before{content: "\71";}
.icon-heart-outline:before{content: "\72";}
.icon-heart:before{content: "\73";}
.icon-microphone:before{content: "\74";}
.icon-list:before{content: "\75";}
.icon-pencil:before{content: "\76";}
.icon-plane2-level:before{content: "\e001";}
.icon-plane2-nose-up:before{content: "\e002";}