<div class="viewsWrapper">

    <div ng-include src="'app/partials/breadcrumb.html'"></div>

    <div class="answerDetail well">

      <span ng-bind-html="loadingIcon"></span>

      <p><strong>{{answerDetail.Title}}</strong></p>
      
      <div ng-bind-html="answerDetail.Content"></div>
    </div>

    <ng-if="answerDetail.Related">
    <div class="well relatedAnswers">
      <p ng-bind-html="relatedText"></p>
      <ul>
        <li ng-repeat="rel in answerDetail.Related">
          <a ng-href="#/product_{{answerDetail.prodID}}/category_{{answerDetail.catID}}/detail_{{rel.ID}}">{{rel.Title}}</a>
        </li>
      </ul>

    </div>
    </ng-if="answerDetail.Related">

    <div id="footer-copyright" class="footer-list-container"><a href="http://www.expediainc.com/">Expedia, Inc.</a> All rights reserved.</div>

</div>