<div class="viewsWrapper" id="detailsWrapper">
    <div class="detailHeader"><h5 class="categoryHeader"><i aria-hidden="true" class="iseFontIcons icon-{{prodIcon}}"></i><!--{{prodName}}--> {{catName}}</h5></div>

    <accordion>
    <accordion-group ng-repeat="ans in articleList" >
        <accordion-heading>
            <a href="" ng-click='getAnswerDetail({{prodID}},{{catID}},{{ans.ID}});'>{{ans.Title}}</a>
        </accordion-heading>
          
          <ng-if="{{answerDetail}}">
          <div ng-model="answerDetail"><!--class="answerDetail well"-->

            <span ng-bind-html="loadingIcon"></span>

            <p><strong>{{answerDetail.Title}}</strong></p>
            
            <div ng-bind-html="answerDetail.Content"></div>
          

            <ng-if="answerDetail.Related">
            <div class="relatedAnswers">
              <p ng-bind-html="relatedText"></p>
              <ul>
                <li ng-repeat="rel in answerDetail.Related">
                  <a ng-href="#/detail_{{rel.ID}}">{{rel.Title}}</a>
                </li>
              </ul>

            </div>
          </div>

      </accordion-group>
    </accordion>

</div>