<div ng-bind-html="breadcrumb"></div>

<!-- Start Products & Categories Object -->
<div>
<accordion>
	<accordion-group ng-repeat="prod in products" is-open="{{prod.Visible}}">
    	<accordion-heading>
      		<div ng-click="manageVis(prod.ID)">{{prod.Name}} <i class="pull-right" ng-class="{'icon-chevron-down': prod.Visible, 'icon-chevron-right': !prod.Visible}"></i></div>
    	</accordion-heading>
    		
    		<ul class="nav nav-pills nav-stacked">
        		<li class="dropdown" ng-repeat="cat in prod.Categories"><a class="dropdown-toggle"
       data-toggle="dropdown" href='' ng-click="showLoader=true;getArticleList(prod.ID, cat.ID)" >{{cat.Name}}</a>
        		<!-- End Products & Categories Object -->

		        	<!--<ng-if="cat.ID">-->
						<ul class="dropdown-menu">
							<ng ng-if="productSpecific(cat.ID,prod.ID)">
								
								<span ng-bind-html="loadingIcon"></span>

								<li ng-repeat="ans in articleList">
									
									<a ng-bind="ans.Title" ng-click="direction('front');" ng-href="#/product_{{prod.ID}}/category_{{cat.ID}}/detail_{{ans.ID}}">{{ans.Title}}</a>

									<!-- Article Content
									<div ng-model="answerDetail" ng-if="answerSpecific(cat.ID,prod.ID,ans.ID)">
										<p>
											<strong>{{answerDetail.Title}}</strong><br />
											Article {{answerDetail.ID}} - Detail
										</p>

										<div ng-bind-html="answerDetail.Content"></div>
										<br />
										<p>
											<strong>Related Answers:</strong>
										</p>
										<ul>
											<li ng-repeat="rel in answerDetail.Related">
												<a ng-href="#/product_{{prod.ID}}/category_{{cat.ID}}/detail_{{rel.ID}}">{{rel.Title}}</a>
											</li>
										</ul>
										<br />
									</div>
									-->
								</li>
						</ul>
        		</li>
     		</ul>

    </accordion-group>
</accordion>
</div>

<div id="footer-copyright" class="footer-list-container"><a href="http://www.expediainc.com/">Expedia, Inc.</a> All rights reserved.</div>
