<!-- Start Products & Categories Object -->
<accordion>
	<accordion-group ng-repeat="prod in products" is-open="prod.Visible">
		<accordion-heading>
			<div ng-click="evaluate(prod.ID)">{{prod.Visible}} : {{prod.Name}}<i class="pull-right" ng-class="myVar"></i></div>
		</accordion-heading>
		
		<ul>
			<accordion-group heading="{{cat.Name}}" ng-repeat="cat in prod.Categories">
			<!-- End Products & Categories Object -->

				<ng-if="catID">
				<accordion ng-model="articleList">
					<ng ng-if="productSpecific(cat.ID,prod.ID)">
						<accordion-group heading="{{ans.Title}}" ng-repeat="ans in articleList">
							<a ng-href="#/product_{{prod.ID}}/category_{{cat.ID}}/detail_{{ans.ID}}">{{ans.Title}}</a>

							<!-- Article Content -->
							<div ng-model="answerDetail" ng-if="answerSpecific(cat.ID,prod.ID,ans.ID)">
								<p>
									<strong>{{answerDetail.Title}}</strong><br />
									Article {{answerDetail.ID}} - Detail
								</p>

								<div ng-bind-html="answerDetail.Content"></div>
								<br />
								<p>
									<strong>Related Answers:</strong>
								</p>
								<ul>
									<li ng-repeat="rel in answerDetail.Related">
										<a ng-href="#/product_{{prod.ID}}/category_{{cat.ID}}/detail_{{rel.ID}}">{{rel.Title}}</a>
									</li>
								</ul>
								<br />
							</div>

						</accordion-group>
				</accordion>

			</accordion-group>
		</accordion>

	</accordion-group>
</accordion>
<button class="btn" ng-click="products[0].Visible = true">Toggle first open</button>
<button class="btn" ng-click="products[1].Visible = true">Toggle first open</button>
<button class="btn" ng-click="products[7].Visible = true">Toggle first open</button>
<button class="btn" ng-click="products[8].Visible = true">Toggle first open</button>
<button class="btn" ng-click="products[9].Visible = true">Toggle first open</button>