<div class="viewsWrapper">
  <div class="searchResults">
    
    <div class="loadingSearch" ng-bind-html="loadingIcon"></div>
    
    <accordion>
    <accordion-group ng-repeat="art in resultList">
        <accordion-heading is-open="isopen">
            <a href="" ng-click='getAnswerDetail({{art.articles.ID}});'>{{art.articles.Title}}</a>
        </accordion-heading>
          
          
          <ng-if="{{answerDetail}}">
          <div ng-model="answerDetail">

            <span ng-bind-html="loadingIconAnswer"></span>

            <p><strong>{{answerDetail.Title}}</strong></p>
            
            <div ng-bind-html="answerDetail.Content"></div>
          

            <ng-if="answerDetail.Related">
            <div class="relatedAnswers">
              <p ng-bind-html="relatedText"></p>
              <ul>
                <li ng-repeat="rel in answerDetail.Related">
                  <a ng-href="#/detail_{{rel.ID}}">{{rel.Title}}</a>
                </li>
              </ul>

            </div>
          </div>
          
      </accordion-group>
    </accordion>
  </div>
</div>