<div class="viewsWrapper" ng-controller="SearchController">
	<form novalidate class="css-form">
		<input type="text" ng-bind="searchTerm" ng-model="searchTerm" value="{{searchTerm}}" onclick="if(this.value!=''){this.value=''}" required />
		<button ng-click='go(searchTerm,"view-frame-1")'>Search</button>
	</form>
	<!--<div>{{searchTerm}}</div>-->

	<style type="text/css">
		.css-form input.ng-invalid.ng-dirty {
			background-color: #FA787E;
		}

		.css-form input.ng-valid.ng-dirty {
			background-color: #78FA89;
		}
	</style>
</div>