<div class="viewsWrapper" ng-controller="SearchController">
	<form novalidate class="css-form">
		<input type="text" ng-model="searchTerm" value="{{searchCustomerSupportTxt}}" required /> <button ng-click='getRelevantList(searchTerm);go("search::searchTerm","view-frame-1")'>Search</button>
	</form>
	<!--<div>{{searchTerm}}</div>-->

	<style type="text/css">
		.css-form input.ng-invalid.ng-dirty {
			background-color: #FA787E;
		}

		.css-form input.ng-valid.ng-dirty {
			background-color: #78FA89;
		}
	</style>

	<accordion>
    <accordion-group ng-repeat="art in resultList" >
        <accordion-heading is-open="isopen">
            <a href="" ng-click='getAnswerDetail({{prodID}},{{catID}},{{art.ID}});'>
              <!--ng-click="manageVis(prod.ID)"-->
              {{art.Title}} <i class="pull-right" ng-class="{'icon-chevron-down': isopen, 'icon-chevron-right': !isopen}"></i>
              
            </a>
        </accordion-heading>
    </accordion-group>
	</accordion>
</div>